/* LoginPage.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #01496E;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
}

input {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ACADAF;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #01496E;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #01395E;
}
